# virtual enviorment 
venv/

# Python cache
__pycache__/
*/__pycache__/
*.pyc

# Database
instance/
*.db

# Enviorment Variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Postman
.postman/
postman/enviroments/
auth-local-1.environment.yaml
